//Color scheme

$blanco: #fff;
$platinum: #E8E8E8;
$gray: #BABABA;

$salmon: #EE9480;
$melon: #F4BAAE;
$pinkpale: #FADFDA;

$blueball: #2AB7CA;
$bluemiddle: #77D1DD;
$bluelagoon: #B1E4EB;

$onyx: #333745;
$grayspanish: #8F9199;
$graylavender: #C7C8CC;

$blackraising: #221D23;
$nickel: #726f73;
$chalicesilver: #AEACAF;


//TIPOGRAFIA

// font family
$raleway: 'Raleway', sans-serif;
$opensans:'Open Sans', sans-serif;

//font weight
$bold: 700;
$regular: 400;

//font sizes
$xxxxx-large: 50px;
$xxxx-large: 45px;
$xxx-large: 40px;
$xx-large: 35px;
$x-large: 30px;
$xs_large:25px;
$large: 20px;
$medium: 16px;
$small: 14px;
$x-small: 12px;

//botones

//color
$primarybutton: Primary button;


