//FOOTER

.footer__container {
    width: 100vw;
    position: relative;
    background-color: $blackraising;
    height: 6rem;
    bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: $opensans;

}

.footer__list {
    list-style: none;
    margin: 0;
}

.footer__item {
    display: inline;
    margin-right: 2rem;
    text-decoration: none;
    color: $blanco;
    font-size: 16px;
}


.footer__marca {
    color: $blanco;
    margin-right: 4rem;
    font-size: 16px;
}

@media screen and (min-width: 318px) {
    .footer__item {
        font-size: 10px;
        margin-right: 2.5rem;
        margin-left: -2rem;
    }

    .footer__marca {
        font-size: 10px;
        margin-right: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .footer__item {
        font-size: 12px;
        margin-right: 2.5rem;
        margin-left: -1rem;
    }

    .footer__marca {
        font-size: 12px;
        margin-right: 2rem;
    }
}

@media screen and (min-width: 768px) {
    .footer__item {
        font-size: 13px;
        margin-right: 2rem;
        margin-left: 1rem;
    }

    .footer__marca {
        font-size: 13px;
        margin-right: 3rem;
    }
}