//NAVIGATION


.navigation {
    width: 100%;
    position: fixed;
    background-color: $blanco;
    align-items: center;
}
.navigation__logo {
    position: absolute;
    top: .9em;
    left: 4em;
}
.collapsible {
    text-align: right;
    label {
        display: block;
        padding-top: .5em;
        padding-bottom: .5em;
        padding-right: 1.5em;
        font-size: 1.8rem;
    }
}
#inicio2 {
    background-color: $blueball;
    color: $blanco;
    cursor: pointer;
}

.navigation__inicio .list__item a {
    margin-top: 8px;
}
#menu {
    display: none;
}
input:checked~.navigation__container {
    max-height: 100%;
}
.navigation__container {
    max-height: 0;
    padding: 0;
    overflow: hidden;
}
.navigation__list {
    list-style-type: none;
}
.navigation__item {
    a {
        display: block;
        text-align: center;
        padding: .5em;
        font-family: $opensans;
        font-size: 1.2rem;
        font-weight: $bold;
        color:$blackraising;
       
        text-decoration: none;
        &:hover {
            color: $nickel;
        }
    }
}
//modo escritorio
@media only screen and (min-width: 768px) {
    .navigation__logo {
        top: 2em;
        left: 5em;
    }
    .collapsible {
        label {
            display: none;
        }
    }
    .navigation__container {
        max-height: 100%;
        padding: .5em 3em .5em 0;
        overflow: visible;
    }
    .navigation__list {
        display: flex;
        justify-content: flex-start;
        margin: inherit;
        padding: inherit;
        margin-left: 10em;
        margin-top: 1em;
    }
    .navigation__item {
        a {
            padding: .5em 1em;
            font-size: 1rem;
            font-weight: $regular;
        }
    }
}

.navigation__inicio {
    max-height: 100%;
    padding: .5em 3em .5em 0;
    overflow: visible;
    margin-top: -4.5rem;
}

#inicio {
    margin-top: .5em;
}
.inicio__list {
    display: flex;
    justify-content: flex-end;
    margin: inherit;
    margin-left: 7em;
    margin-top: 1em;
    list-style-type: none;
}
.list__item {
    buttom,
    a {
        padding: .5em 1em;
        font-size: 1rem;
        font-weight: $regular;
    }
}
.list__item {
    a {
        color:$blackraising;
        text-decoration: none;
        
        
        &:hover {
            color: $blackraising;
        }
    }
}
.btn {
    border-radius: 0em;
    background: $blueball;
    border: $blueball;
    height: 2.5em;
}

@media only screen and (max-width: 767px) {
    .navigation__inicio {
        display: none;
    }
}



